<div class="container" style="background-color: gray;">
<div style="text-align:center">
  <h1 class="app-title">Customer Details</h1>
</div>
<button style="margin:auto" (click)="Refresh()" mat-stroked-button color="primary">Refresh</button>
<div *ngIf="!showDetails && data" class="mydiv" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <!--div mat-card-avatar class="example-header-image"></div-->
      <mat-card-title>{{data.name.title + " " + data.name.first + " " + data.name.last}}</mat-card-title>
      <mat-card-title>{{data.email}}</mat-card-title>
      <mat-card-title>{{data.phone}}</mat-card-title>
      <mat-card-title>Address:</mat-card-title>
      <mat-card-subtitle>Street/H.No: {{data.location.street.number + " " + data.location.street.name}}</mat-card-subtitle>
      <mat-card-subtitle>City: {{data.location.city}}</mat-card-subtitle>
      <mat-card-subtitle>State: {{data.location.state}}</mat-card-subtitle>
      <mat-card-subtitle>Country: {{data.location.country}}</mat-card-subtitle>
      <!--mat-card-subtitle>Coordinates: {{data.location.Coordinates}}</mat-card-subtitle-->
    </mat-card-header>
    <img style="border-radius:50%" mat-card-image [src]="data.picture.large">
    <button style="margin:auto" (click)="showDetailsNow()" mat-stroked-button color="primary">Show More Details</button>
  </mat-card>
</div>
</div>

<div *ngIf="showDetails">
  <button style="margin:auto" (click)="ShowLessDetailsNow()" mat-stroked-button color="primary">Show Less Details</button>
  <div class="mydiv" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
  <mat-card-title>Cell: {{data.cell}}</mat-card-title>
  <mat-card-title>DOB: {{data.dob.date + data.dob.age}} </mat-card-title>
  <mat-card-title>Gender: {{data.gender}}</mat-card-title>
  <mat-card-title>Id: {{data.id.name + " " + data.id.value}}</mat-card-title>
  <mat-card-title>Login:</mat-card-title>
  <mat-card-subtitle>MD5: {{data.login.md5}}</mat-card-subtitle>
  <mat-card-subtitle>password: {{data.login.password}}</mat-card-subtitle>
  <mat-card-subtitle>salt: {{data.login.salt}}</mat-card-subtitle>
  <mat-card-subtitle>sha1: {{data.login.sha1}}</mat-card-subtitle>
  <mat-card-subtitle>sha256: {{data.login.sha256}}</mat-card-subtitle>
  <mat-card-subtitle>username: {{data.login.username}}</mat-card-subtitle>
  <mat-card-subtitle>uuid: {{data.login.uuid}}</mat-card-subtitle>
  <mat-card-title>Nationality: {{data.nat}}</mat-card-title>
  <mat-card-title>Registered:</mat-card-title>
  <mat-card-subtitle>age: {{data.registered.age}}</mat-card-subtitle>
  <mat-card-subtitle>date: {{data.registered.date}}</mat-card-subtitle>
</mat-card-header>
</mat-card>
</div>
</div>

<!--div *ngIf="showDetails">

</div-->

<router-outlet></router-outlet>
